/* !--------------------------- ANCHOR CABEÇALHO ------------------------------*/

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Light.ttf);
}

#aya-logo {
    height: 80px;
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

header {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #ca8c28;
}

.hero-banner__content hr {
    background-color: #ca8c28;
    height: 3px!important;
    opacity: 1;
    width: 20%;
    margin: auto;
    border-radius: 15px;
}

.nav-link.menu-link {
    color: #000;
}

.nav-link.menu-link:hover {
    color: rgb(255, 217, 0);
}


/* !--------------------------- ANCHOR SLIDER ------------------------------*/

.banner-content {
    background-image: url("../img/hero-banner.jpg");
    background-size: cover;
    height: 90vh;
}

.hero-banner {
    background-color: rgba(0, 0, 0, 0.7);
    height: 90vh;
    width: 100vw;
}

.hero-banner h1,
h2 {
    color: #fff;
}

.hero-banner h1 {
    font-size: 8vh;
    font-weight: bold;
}


/* !--------------------------- ANCHOR APRESENTAÇÃO ------------------------------*/

.apresentacao {
    margin-top: 5rem;
}

.justificado {
    text-align: justify;
    text-justify: inter-word;
}

.lerMais {
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 100px;
    color: #000;
    background-color: #8dad31;
    border-color: #8dad31;
}

.lerMais:hover {
    color: #000;
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.lerMais:focus {
    color: #000;
    background-color: #ff8c00;
    border-color: #ff8c00;
    box-shadow: 0 0 0 0.25rem #ff8c0077;
}