/*RETIRAR A LOGO DO 000WEBHOST*/

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}


/* !--------------------------- ANCHOR CABEÇALHO ------------------------------*/

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Light.ttf);
}

body {
    overflow-x: hidden;
}

#aya-logo {
    height: 80px;
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    /* border: 1px solid red;*/
}

header {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #ca8c28;
}

.menuPrincipal {
    background-color: #ca8c28;
}

.hero-banner__content hr {
    background-color: #ca8c28;
    height: 3px!important;
    opacity: 1;
    width: 20%;
    margin: auto;
    border-radius: 15px;
}

.nav-link.menu-link {
    color: #000;
    font-size: 14px;
}

a:hover {
    color: rgb(255, 217, 0)!important;
    text-decoration: none;
}

.nav-link.menu-link:active {
    color: rgb(255, 217, 0)!important;
}


/* !--------------------------- ANCHOR SLIDER ------------------------------*/

.banner-content {
    background-image: url("../img/hero-banner.jpg");
    background-size: cover;
    height: 90vh;
}

.banner-content-sm {
    background-image: url("../img/hero-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.hero-banner {
    background-color: rgba(0, 0, 0, 0.7);
    height: 90vh;
    width: 100%;
}

.hero-banner-sm {
    background-color: rgba(0, 0, 0, 0.7);
    height: 60vh;
    width: 100%;
}

.hero-banner h1,
.hero-banner h2 {
    color: #fff;
}

.hero-banner h1 {
    font-size: 8vh;
    font-weight: bold;
}

.hero-banner-sm h1,
.hero-banner-sm h2 {
    color: #fff;
}

.hero-banner-sm h1 {
    font-size: 8vh;
    font-weight: bold;
}


/* !--------------------------- ANCHOR BLOCO INFORMATIVO -------------------------*/

.informativos {
    margin-top: -75px;
}

.info-block {
    background-color: #f7f7f7f5;
    border-radius: 8px;
    padding: 10px;
    padding-top: 20px;
    min-height: 284px;
    box-shadow: 1px 1px 10px #00000033;
}

.info-block-org {
    padding: 10px;
    padding-top: 20px;
}

.info-title {
    text-align: center;
    font-size: 18pt;
}

.info-hr {
    width: 40%;
    margin: auto;
    height: 2px !important;
    background-color: #ca8c28;
    opacity: 1;
    border-radius: 5px;
}

.info-highlight {
    color: #ca8c28;
    font-weight: bolder;
}

.info-desc {
    padding: 10px;
    text-align: center;
    font-size: 15pt;
}

.info-desc-org {
    padding: 0px 10px;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 0.5rem;
}

.formacao {
    font-size: 10pt;
}


/* !--------------------------- ANCHOR APRESENTAÇÃO ------------------------------*/

.apresentacao {
    margin: 5rem 12px -1px 0px;
}

.justificado {
    text-align: justify;
    text-justify: inter-word;
}

.lerMais {
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 100px;
    color: #000;
    background-color: #d39125;
    border-color: #ca8c28;
}

.lerMais:hover {
    color: #000000 !important;
    background-color: #FFBB63;
    border-color: #FFBB63;
}

.lerMais:focus {
    color: #000;
    background-color: #FFBB63;
    border-color: #FFBB63;
    box-shadow: 0 0 0 0.25rem #FFBB6377;
}

footer {
    margin-top: 2rem;
    padding-top: 1rem;
    background-color: #ca8c28;
}

.link {
    color: #000!important;
}

.link:hover {
    color: #000!important;
    color: rgb(255, 217, 0)!important;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fff;
}

ul.social-buttons li a {
    font-size: 30px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #000;
    border-radius: 100%;
    outline: 0;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}

.footer-title {
    text-align: center;
}

.copyright {
    color: #000;
}

.fa-ellipsis-h {
    color: #000;
}

.realizacao {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 85px;
}

#uesc-logo {
    width: 60px;
    margin-left: 1px;
    margin-right: 5px;
}

#uefs-logo {
    width: 130px;
    padding-right: 5px;
    padding-top: 5px;
}

.simposio,
.apresentacao-completa {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.simposio-title,
.apresentacao-title {
    font-size: 22pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.simposio-subtitle {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 30px;
}

.title-programacao {
    font-size: 24pt;
    padding-left: 2rem;
    margin-top: 2em;
}

.p-programacao {
    font-size: 16px;
    padding-left: 2.5rem;
}

.highlight-programacao {
    display: inline-block;
    margin-top: 1em;
    font-weight: bolder;
    color: #a56600;
    padding-right: .5em;
}

.alert-programacao {
    background-color: rgb(255, 217, 0);
    width: 60%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    border-radius: 50px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.404);
}

.alert-programacao h3 {
    text-align: center;
}

.title-anais {
    width: 60%;
    margin: 4em auto;
    border-bottom: #CA8C28 4px solid;
}

.title-anais a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}

.title-anais>a:hover {
    color: rgb(131, 131, 131) !important;
}

.title-anais img {
    width: 100%;
}